<form action="/home/define" method="post">
  <label for="definition"> Define <%= self.new_word %></label>
  <input type="text"  name="definition">
  <button type="submit" name="button">DEFINE</button>
</form>
