<% if @definitions.any? %>
    <% @definitions.each do |define| %>
    <li><a href="/words/delete" class = "links"> ❌</a><span class= "green"> <%= define.name %> </span>  <a href="/words/definition/edit/<%= define.id %>" class = "links"> ✏️ </a></li>
<% end %>
<% else %>
  <p> Please add your definitions below...</p>
<% end %>

<form class="" action="/words/<%= @word.name %> /definition" method="post">
  <label for="new_definition">Define <%= @word.name %> :</label>
  <input type="text" name="new_definition" value="">

  <label for="alternate_definition">Add another meaning here: </label>
  <input  name="alternate_definition" class= "home_input" type="text">
</form>
