<h1>Here are a list of your study words</h1>
<% if @study_terms.any? %>
  <ul>
    <% @study_terms.each do |word, defintion| %>
      <li><%= @study_terms.new_word %> %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>
