<h1>Here are a list of your study words</h1>
<% if @study_terms.any? %>
  <ul>
    <% @study_terms.each do |x| %>
      <li><%= x.new_word %> : <%= x.new_definition %> <a href="/home/display"> EDIT </a> </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>
