<h1>Redefine: <%= @word.name %></h1>
<form action="/home/edit/<%= @define.id %>" value="post">
<input name="_method" type="hidden" value="patch">
<h3>
<label for="edited_definition"></label>
  <input id = "edit_definition" placeholder = "Edit: <%= @define.name %>" name="edited_definition" type="text">
</h3>

  <button type="submit" style = "color: red">Save Changes</button>
</form>
