<h1>Redefine: <%= @define.name %></h1>
<form action="/home/edit/<%= @define.id %>" value="post">
<input name="_method" type="hidden" value="patch">
<h3>
<label for="new_definition">Edit: <%= @define.name %></label>
<br>
  <input id = "edit_definition"   name="new_definition" type="text">
</h3>

  <button type="submit" style = "color: red;">Save Changes</button>
</form>
<a href="/home">return</a>
