<h1>Learn your Vocabulary</h1>
<form action="index.html" method="post">
  <label for="word1">Fill in the blanks with new words you want to learn</label>
  <input type="text" name="word1">
  <input type="text" name="word2">
  <input type="text" name="word3">
  <input type="text" name="word4">
  <input type="text" name="word5">
</form>
<!-- <p><a href="/albums/<%=  %>/edit">Edit album</a></p>
<a href="/albums">Return to album list</a> -->
