<h1>Learn your Vocabulary</h1>
<form action="/home" method="post">
  <label for="new_word">Fill in the blank with a word you want to learn</label>
  <input type="text" id="new_word" name="new_word">
  <button type="submit" name="button">ADD</button>
</form>
<!-- <p><a href="/albums//edit">Edit album</a></p>
<a href="/albums">Return to album list</a> -->
