<h1>Learn your Vocabulary</h1>

<% if @study_terms.any? %>

  <ul>
    <% @study_terms.each do |x| %>
      <li><a href="/home/delete" class = "links"> DELETE</a> <span style = "color:#68D172"> <%= x.name %></span><span style = "color:#109C1C"></span>
        <a href="/home/edit" class = "links"> EDIT </a> </li>
        <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>
<br>
<br>
<form action="/home" method="post" style = "font-size: 13pt">

  <label for="new_word">Fill in the blank with a word you want to learn: </label>
  <input name="name" class= "home_input" type="text"  ><br>
  <label for="new_definition">Fill in the blank with a definition: </label>
  <input type="text" class= "home_input" name="new_definition"><br>
  <label for="alternate_definition">Add another meaning here: </label>
  <input  name="alternate_definition" class= "home_input" type="text">
  <br>
  <button type="submit" class= "btn-lg" name="button">ADD</button>
</form>
