<form action="/words" method="post" style = "font-size: 13pt">

  <label >Fill in the blank with a word you want to learn: </label>
  <input name="name" class= "word_input" type="text">

  <button type="submit" class= "btn-lg" name="button">ADD</button>
</form>
