<h1>Learn your Vocabulary</h1>

<% if @words.any? %>

  <ul>
    <% @words.each do |word| %>
      <li id='words'><a href = '/words/<%= word.id %>'> <%= word.name %></a></li>
     <% end %>
  </ul>
<% else %>
  <p> Please add your study words below...</p>
<% end %>
<h1><a href="/words/new"> ➕</a></h1>
